body {
  margin: 0;
  padding: 20px;
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  background-color: #0B2A18;
  color: #222;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: center;     /* 가운데 정렬 */
  max-width: 600px;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}
